/* App.css */

.coffee-machine {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.coffee-machine-body {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.coffee-machine-screen {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.title {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* App.css */

.options {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.select-wrapper {
  width: 100%;
}

.select-box {
  width: 100%;
  margin-bottom: 20px;
}


.warning {
  color: red;
  font-weight: bold;
  margin-top: 10px;
}

.toggle-button {
  padding: 10px 20px;
  background-color: #6d4c41;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #5c3b2f;
}

.steps {
  background-color: #f0f0f0;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.step-title {
  color: #333;
  margin-bottom: 10px;
}

ol {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
  color: #666;
}

.coffee-machine-content {
  display: flex;
  justify-content: center;
  width: 100%;
}
